<div class="about-me">

    <div class="top-section">
        <div class="icon">
            <div class="icon-bubble"></div>
        </div>

        <div class="text">
            <h1>About me.</h1>
            <div>
                "I love to create things anew and continuously find new, creative solutions. The creative exploration of technical possibilities excites me!"
            </div>
        </div>
    </div>


    <div class="bottom-section">

        <div class="cv">
            <div class="cv-icon">
                <img src="assets/img/icon_1.png" alt="">
            </div>
            <div class="cv-text">
                <h2>MY JOURNEY BEGAN</h2>
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor placeat illo veritatis obcaecati vero officiis optio exercitationem! Sequi vero ullam dignissimos nam tempora esse, earum recusandae similique laboriosam minus tempore.</div>
            </div>
        </div>

        <div class="cv">
            <div class="cv-icon">
                <img src="assets/img/icon_2.png" alt="">
            </div>
            <div class="cv-text">
                <h2>MY JOURNEY BEGAN</h2>
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor placeat illo veritatis obcaecati vero officiis optio exercitationem! Sequi vero ullam dignissimos nam tempora esse, earum recusandae similique laboriosam minus tempore.</div>
            </div>
        </div>

        <div class="cv">
            <div class="cv-icon">
                <img src="assets/img/icon_3.png" alt="">
            </div>
            <div class="cv-text">
                <h2>MY JOURNEY BEGAN</h2>
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor placeat illo veritatis obcaecati vero officiis optio exercitationem! Sequi vero ullam dignissimos nam tempora esse, earum recusandae similique laboriosam minus tempore.</div>
            </div>
        </div>

        <div class="cv">
            <div class="cv-icon">
                <img src="assets/img/icon_4.png" alt="">
            </div>
            <div class="cv-text">
                <h2>MY JOURNEY BEGAN</h2>
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor placeat illo veritatis obcaecati vero officiis optio exercitationem! Sequi vero ullam dignissimos nam tempora esse, earum recusandae similique laboriosam minus tempore.</div>
            </div>
        </div>
       
    </div>




</div>