<div class="about-me">

    <div class="top-section">
        <div class="icon">
            <div class="icon-bubble">
                <img src="assets/img/me2.png" alt="">
            </div>
        </div>

        <div class="text">
            <h1>About me.</h1>
            <div>
                "I love to create things anew and continuously find new, creative solutions. The creative exploration of technical possibilities excites me!"
            </div>
        </div>
    </div>


    <div class="bottom-section">

        <div class="cv">
            <div class="cv-icon">
                <img src="assets/img/icon_1.png" alt="">
            </div>
            <div class="cv-text">
                <h2>MY JOURNEY BEGAN</h2>
                <div>I discovered my passion for programming while working at a sound studio, where I specialized in programming synthesizers and music production tools using Max/MSP within the software “Ableton Live.”</div>
            </div>
        </div>

        <div class="cv">
            <div class="cv-icon">
                <img src="assets/img/icon_2.png" alt="">
            </div>
            <div class="cv-text">
                <h2>I DISCOVERED</h2>
                <div>As I delved into the world of coding, I found immense satisfaction in crafting innovative solutions using creative approaches. In my spare time, I eagerly consumed coding tutorials and decided to explore web development, realizing it was my true passion.</div>
            </div>
        </div>

        <div class="cv">
            <div class="cv-icon">
                <img src="assets/img/icon_3.png" alt="">
            </div>
            <div class="cv-text">
                <h2>I SEARCHED</h2>
                <div>Motivated to pursue a career change, I embarked on online courses to enhance my coding skills. In 2022, I enrolled in the “Full Stack” path at the Developer Akademie, determined to become a proficient web developer.</div>
            </div>
        </div>

        <div class="cv">
            <div class="cv-icon">
                <img src="assets/img/icon_4.png" alt="">
            </div>
            <div class="cv-text">
                <h2>NOW</h2>
                <div>Having completed the frontend path, I am now actively seeking a position that allows me to continue learning and grow as a developer. I am enthusiastic about working on projects that deliver value to companies and users alike.
                </div>
            </div>
        </div>
       
    </div>




</div>