<div id="portfolio" class="mywork">
    <div class="h2">MY Work</div>

    <div class="filter-buttons">
        <div id="button0" (click)="selectButton(0)" class="filter-button">All</div>
        <div id="button1" (click)="selectButton(1)" class="filter-button">JavaScript</div>
        <div id="button2" (click)="selectButton(2)" class="filter-button">Angular</div>
    </div>

    <div class="projects">
        <div *ngFor="let project of myprojects; let i = index;" class="project-container" id="project-container0">
            <div class="description" id="description{{i}}">
                <div class="project-title">{{myprojects[i]['title']}}</div>
                <div class="project-description">{{myprojects[i]['description']}}</div>
                <div class="buttons">
                    <a class="try-out-button"  target="_blank"  href="{{myprojects[i]['link']}}" >TRY OUT!</a>
                    <a class="try-out-button github"  target="_blank"  href="{{myprojects[i]['github']}}" >Git Hub</a>
                </div>
            </div>
            <img  class="project" src="{{myprojects[i]['src']}}" alt="JOIN">
        </div>

    </div>


</div>