.selected-secondary {
    color:#2DFCD8;
}

.primary-color{
    color: #FA2759;
}

.greeting{
    margin-top: 100px;
    font-size: 50px;
    font-weight: bold;
}

.home-body {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
}

.left-side {
    width: 60%;
    display: flex;
    line-height: 1.5;
}

.right-side {
    width: 40%;
}