.selected-secondary {
    color:#2DFCD8;
}

.home-body {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
}

.left-side {
    width: 60%;
}

.right-side {
    width: 40%;
}