<div class="home-body">

    <div class="left-side">
        <div class="greeting">Hi,<br>
            I'm <span class="primary-color">Joshua</span> Trefzer <br>
            Front End develop<span class="selected-secondary">e</span>r
        </div>
        <a style="width: fit-content;" href="#contact">
            <div class="contact-me-button">
                Contact me
            </div>
        </a>
    </div>

    <div class="right-side">
        <div class="profile-bubble">
            <img src="assets/img/me.png" alt="">
        </div>
    </div>
    <a href="#skills"><img src="assets/img/down-arrow.png" class="arrow-down hide-mobile" alt=""></a>

</div>